body {
  margin: 0;
  /* text-align: center; */
}

body #layout-main {
  height: 100%;
  background-image: url("https://images.unsplash.com/photo-1449247709967-d4461a6a6103?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NjB8fHNvY2lhbCUyMG1lZGlhJTIwcGhvdG98ZW58MHx8MHx8&auto=format&fit=crop&w=600&q=60");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
